@{
    ViewData["Title"] = "Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>Click <a href="https://www.baconsale.com">here</a> to go to Joel's Podcast: Baconsale</p>
<a href="https://www.baconsale.com"><img src="~/img/baconsale.png" height="600" href="https://www.baconsale.com"/></a>